.hero-foot {
    animation: 3s fadein 1.5s forwards;
    opacity: 0;
}

@keyframes fadein {
    100% {
        opacity: 1;
    }
}

#footer-modified-copy {
    font-size: 80%;
}

.tabs:not(:last-child) {
    margin-bottom: 6px;
}

.social-icon-footer {
    margin: 0px 10px;
    background: #e1e0e2;
    border-radius: 100%;
    cursor: pointer;
}

.social-icon-footer:hover {
    background: #717171;
}

.social-icon-footer a {
    border: none;
    padding: 6px 10px;
}

#so-2,
#so-3 {
    padding: 6px 8px;
}

.footer-tab-ul-modified ul{
    border: none;
}

.social-icon-footer a:hover {
    color: #fff;
}